[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
pillow = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
beautifulsoup4 = "*"
selenium = "*"

[dev-packages]
pre-commit = "*"
django-extensions = "*"

[requires]
python_version = "3.11"
