{% extends 'home/base.html' %}
{% block nav %}
    {% for league in leagues %}
        <li><a class="dropdown-item" href="{% url 'league_teams' slug=league.slug %}">{{ league.name }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="content-section">
        <h1>MatchAlert</h1>
        <p id="description">This is MatchAlert app which allows to check standings, results and schedules of top 5 european leagues.<br>More competitions coming soon! Stay tuned!</p>
        <hr>
        {% for league in leagues %}
        <p><a href="{% url 'league_teams' slug=league.slug %}">{{ league.name }}</a></p>
        {% endfor %}
    </div>
{% endblock %}
