{% extends 'home/base.html' %}
{% block nav %}
    {% for league in leagues %}
        <li><a class="dropdown-item" href="{% url 'league_teams' slug=league.slug %}">{{ league.name }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
<div class="content-section">
	<div class="ptable">
	  <h1 class="headin">{{ league.name }} Standings</h1>
	  <div class="button-container">
	  	<button class="btn btn-outline-info btn-lg btn-custom" onclick="window.location.href='{% url 'league_teams' slug=league.slug %}'">Teams</button> <button class="btn btn-outline-info btn-lg btn-custom" onclick="window.location.href='{% url 'league_fixtures' slug=league.slug %}'">Fixtures</button> <button class="btn btn-outline-info btn-lg btn-custom" onclick="window.location.href='{% url 'league_results' slug=league.slug %}'">Results</button>
	  </div>
		  <table>
			<tr class="col">
				<th>#</th>
				<th>Team</th>
				<th><abbr title="Games Played">GP</abbr></th>
				<th><abbr title="Won">W</abbr></th>
				<th><abbr title="Drew">D</abbr></th>
				<th><abbr title="Lost">L</abbr></th>
				<th><abbr title="Goals For">GF</abbr></th>
				<th><abbr title="Goals Against">GA</abbr></th>
				<th><abbr title="Goals Difference">GD</abbr></th>
				<th><abbr title="Points">PTS</abbr></th>
				<th><abbr title="Form">F</abbr></th>
			</tr>
			{% for team in league.table.all %}
				<tr class="wpos">
					<td>{{ team.position }} </td>
					<td>{{ team.team}} </td>
					<td>{{ team.played }}</td>
					<td>{{ team.no_wins }}</td>
					<td>{{ team.no_draws }}</td>
					<td>{{ team.no_losses }}</td>
					<td>{{ team.goals_for }}</td>
					<td>{{ team.goals_against }}</td>
					<td>{{ team.goals_difference }}</td>
					<td>{{ team.points }}</td>
					<td>{{ team.form }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
